<!DOCTYPE html>
<html>
  <head>
    <title>Techpitnator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container text-center">

      <header class="row mb-3">
        <div class="col-12">
          <%= image_tag 'title.png', {width: 200} %>
          <br>
          <%= image_tag 'techpitnator.png', {width: 200} %>
        </div>
      </header>

      <main class="row">
        <div class="col-8 offset-2">
          <%= yield %>
        </div>
      </main>

    </div>
  </body>
</html>
